extends layout

block content
    
    br
    div(id='HomePageHeader')
        h3 Welcome to Gamethroughs
        p This website is for people to create and view walkthroughs. As games continue to be made so do questions for how to complete certain tasks, quests, or even just events in games. There are also those who just want to hunt for achievements.
    