doctype
html
    head
        title=title
        link(href='/style.css', rel='stylesheet')
    body
        div(id='headerDiv')
            h1(id='headerTitle') Gamethroughs
            div(id='signInButton' class='sisubtn')
                a(href='http://localhost:3001/signIn') Sign In
            div(id='signUpButton' class='sisubtn')
                a(href='http://localhost:3001/signUp') Sign Up
        br
        div(id='menuContainer' class='box')
            div(id='menu_home' class='box')
                a(href='http://localhost:3001/') Home
            div(id='menu_myWalkthroughs' class='box')
                a(href='http://localhost:3001/mywalkthroughs') My Walkthroughs
            div(id='menu_topWalkthroughs' class='box')
                a(href='http://localhost:3001/topWalkthroughs') Top Walkthroughs
            div(id='menu_gameList' class='box')
                a(href='http://localhost:3001/gameList') Game List
            div(id='menu_searchUser' class='box')
                a(href='http://localhost:3001/searchUsers') Search Users
        block content
        script(src='/script.js')